@charset "utf-8";

.fl{float:left;}
.border{border:#333 1px solid;}
._tab{width:100%;text-align:center;}
._tab li{height:34px;font-size:23px;}
._tab li:hover{background-color:#999;cursor: pointer;}
.action{color:red;}

.title{background-color:#999;height:34px;font-size:23px;text-align:center;}